---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';

$link:          #478AF5;  // 217, 71, 96
$link-top:      #5F99F5;  // 217, 61, 96
$link-bottom:   #2F7BF5;  // 217, 81, 96
$link-border:   #2A6EDB;  // 217, 81, 86

$title:         #1F2124;  // 217, 14, 14
$text:          #40444A;  // 217, 14, 29
$subtitle:      #747B87;  // 217, 14, 53
$link-visited:  #9CA5B5;  // 217, 14, 71

@mixin hidden-text() { overflow: hidden; text-indent: -290486px;}

html{ font-size: 16px;}
body{ color: $text; font-family: 'Source Sans Pro', Arial, sans-serif; font-size: 1rem; -webkit-font-smoothing: antialiased; line-height: 1.5; text-rendering: optimizeLegibility;}
a{ color: $link;}
  a:visited{ color: $link-visited;}
  a:hover{ color: $text;}

.site-header{ background: $link; @include background-image(linear-gradient(to bottom, $link-top, $link-bottom)); box-shadow: 0 2px 0 $link-border, 0 5px 5px rgba(black, 0.2); color: white; height: 50px;}
.site-header a{ color: white; text-decoration: none;}
.site-title{ @include hidden-text; float: left;}
.site-nav{ }

.main{ position: relative;}
.heading{ margin: 3rem 2rem; text-align: center;}
.title{ color: $title; font-size: 2rem; line-height: 1;}
.subtitle{ color: $link-visited; font-size: 1.2rem; line-height: 1; margin-top: 1rem;}
.content{ margin: 3rem 0;}
.content p{ margin: 1rem;}
